
		#progre{
		
			display: none;
		}
		#text1{
		
		display: none;
	}
	#lodig{
		height: 100px;
	}
	#capa{
		/* background-color: rgba(15, 84, 214, 0.5); */
	}
	.container-fluid{
		/* opacity: 70%; */
		
	}
	.ok{
      display: block;
	}
	.noOk{
		display: none;
	}
	body{
		/* background-image: url("vistas/paginas/images/fondos/fondo_baseDatos.jpg"); */

	}
	
		.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
